DATABASE_URL="postgresql://user:password@host:6543/postgres?pgbouncer=true&schema=lamunn_finance"
DIRECT_URL="postgresql://user:password@host:5432/postgres?schema=lamunn_finance"
NEXTAUTH_URL="http://localhost:3003"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
